Django>=5.0
psycopg2-binary
djangorestframework
drf-yasg
django-cors-headers
django-redis
django-ratelimit
gunicorn
python-dotenv
boto3
django-storages
celery
prometheus-django
minio
pytest
whitenoise
PyPDF2
google-generativeai
langchain
langchain-community
langchain-google-genai
faiss-cpu
PyJWT